#node-header {
  margin-bottom: 0.25rem;
  background-color: transparent;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: flex;
  flex: 1 1 0%;
  align-items: center;
}

::slotted(*) {
  display: flex;
  flex: 1 1 0%;
}