.cards {
  display: flex;
  flex-direction: column;
}

::slotted(*) {
  margin-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  ::slotted(*) {
    margin-right: 1.5rem;
  }

  ::slotted(*:last-child) {
    margin-right: 0;
  }
}