a{
  font-weight: 500;
  color: #224595;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

a:hover{
  color: #4260A4;
}

a:focus{
  outline: 0;
  text-decoration: underline;
}