.tf-flex {
  display: flex;
}

.tf-flex.row, .tf-flex.default {
  flex-direction: row;
  border-color: #50F8E1;
}

.tf-flex.row-reverse {
  flex-direction: row-reverse;
}

.tf-flex.column {
  flex-direction: column;
}

.tf-flex.column-reverse {
  flex-direction: column-reverse;
}

.tf-flex.main-flex-start, .tf-flex.main-start, .tf-flex.main-default {
  justify-content: flex-start;
}

.tf-flex.main-center {
  justify-content: center;
}

.tf-flex.main-flex-end, .tf-flex.main-end {
  justify-content: flex-end;
}

.tf-flex.main-space-around, .tf-flex.main-around {
  justify-content: space-around;
}

.tf-flex.main-space-between, .tf-flex.main-between {
  justify-content: space-between;
}

.tf-flex.main-space-evenly, .tf-flex.main-evenly {
  justify-content: space-evenly;
}

.tf-flex.cross-flex-start, .tf-flex.cross-start, .tf-flex.cross-default {
  align-items: flex-start;
  align-content: flex-start;
}

.tf-flex.cross-center {
  align-items: center;
  align-content: center;
}

.tf-flex.cross-flex-end, .tf-flex.cross-end {
  align-items: flex-end;
  align-content: flex-end;
}

.tf-flex.cross-space-around, .tf-flex.cross-around {
  align-items: space-around;
  align-content: space-around;
}

.tf-flex.cross-space-between, .tf-flex.cross-between {
  align-items: space-between;
  align-content: space-between;
}

.tf-flex.cross-stretch {
  align-items: stretch;
}

.tf-flex.cross-baseline {
  align-items: baseline;
}

.tf-flex.fill-height {
  height: 100%;
}