.flex-row {
  display: flex;
  align-items: center;
}

.avatar-container {
  flex-shrink: 0;
  height: 2.5rem;
  width: 2.5rem;
}

.avatar {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 9999px;
}

.details {
  margin-left: 1rem;
}