span {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: inline-flex;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 600;
  border-radius: 9999px;
}

span.colour-none {
  background-color: #ECF2F3;
  color: #9BA7AA;
}

span.colour-red {
  background-color: #b92950;
  color: #ECF2F3;
}

span.colour-amber, span.colour-orange {
  background-color: #b97129;
  color: #ECF2F3;
}

span.colour-green {
  background-color: #40c7a3;
  color: #ECF2F3;
}