::slotted([slot=table-head]) {
  display: none;
}

.hide-slot {
  display: none;
}

.div-1 {
  display: flex;
  flex-direction: column;
}

.div-2 {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow-x: auto;
}

.div-3 {
  vertical-align: middle;
  display: inline-block;
  min-width: 100%;
  overflow: hidden;
}

table {
  min-width: 100%;
  border-collapse: collapse;
}

th {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom-width: 1px;
  border-color: #D0DFE3;
  background-color: #D0DFE3;
  text-align: left;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: #363154;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

tbody {
  background-color: #ffffff;
}

td {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  white-space: nowrap;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6b7280;
}

td.bottom-border {
  border-bottom-width: 1px;
  border-right-width: 0;
  border-left-width: 0;
  border-color: #D0DFE3;
  border-style: solid;
}

td.text-right {
  text-align: right;
  font-weight: 500;
}

.flex-row {
  display: flex;
  align-items: center;
}

.avatar {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 9999px;
}

@media (min-width: 640px) {
  .div-2 {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .div-3 {
    border-radius: 0.5rem;
  }
}

a {
  color: #224595;
}

a:hover {
  color: #362f78;
}

a:focus {
  outline: 0;
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .div-2 {
    margin-left: -2rem;
    margin-right: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}