#button-containing-span {
  display: inline-flex;
  width: 100%;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.tw-btn {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  border-width: 1px;
  border-color: transparent;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

::slotted([slot=icon]) {
  color: red;
}

.size-xs, .size-extra-small {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 0.75rem;
  line-height: 1rem;
  border-radius: 0.25rem;
}

.size-s, .size-small {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1rem;
  border-radius: 0.375rem;
}

.size-m, .size-medium, .size-default {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
}

.size-l, .size-large {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.375rem;
}

.size-xl, .size-extra-large {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.375rem;
}

.colour-blue, .colour-default {
  color: #ffffff;
  background-color: #224595;
}

.colour-blue:hover, .colour-default:hover {
  background-color: #4260A4;
}

.colour-blue:active, .colour-default:active {
  outline: 0;
  border-color: #32F7DC;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
  background-color: #1E3D85;
}

.colour-blue:focus, .colour-default:focus {
  outline: 0;
  border-color: #1E3D85;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
}

.colour-aqua {
  outline: 0;
  color: #122551;
  background-color: #32F7DC;
}

.colour-aqua:hover {
  outline: 0;
  background-color: #84FAEA;
}

.colour-aqua:active {
  outline: 0;
  border-color: transparent;
  background-color: #2AD2BB;
}

.colour-aqua:focus {
  outline: 0;
  border-color: #2AD2BB;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
}

.colour-navy {
  color: #ffffff;
  background-color: #363154;
}

.colour-navy:hover {
  background-color: #534F6D;
}

.colour-navy:active {
  outline: 0;
  border-color: #363154;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
  background-color: #25223A;
}

.colour-navy:focus {
  outline: 0;
  border-color: #25223A;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
}

.colour-grey {
  color: #122551;
  background-color: #D0DFE3;
}

.colour-grey:hover {
  background-color: #D7E3E7;
}

.colour-grey:active {
  outline: 0;
  border-color: #D0DFE3;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
  background-color: #B1BDC1;
}

.colour-grey:focus {
  outline: 0;
  border-color: #B1BDC1;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
}

.disabled {
  color: #B1BDC1;
  background-color: #E7EFF1;
}

.disabled:hover {
  color: #B1BDC1;
  background-color: #E7EFF1;
}

.icon-xs-l, .icon-extra-small-l {
  margin-left: -0.125rem;
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.icon-xs-r, .icon-extra-small-r {
  margin-left: 0.5rem;
  margin-right: -0.125rem;
  height: 1rem;
  width: 1rem;
}

.icon-s-l, .icon-small-l {
  margin-left: -0.125rem;
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.icon-s-r, .icon-small-r {
  margin-left: 0.5rem;
  margin-right: -0.125rem;
  height: 1rem;
  width: 1rem;
}

.icon-m-l, .icon-medium-l, .icon-default-l {
  margin-left: -0.25rem;
  margin-right: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
}

.icon-m-r, .icon-medium-r, .icon-default-r {
  margin-left: 0.5rem;
  margin-right: -0.25rem;
  height: 1.25rem;
  width: 1.25rem;
}

.icon-l-l, .icon-large-l {
  margin-left: -0.25rem;
  margin-right: 0.75rem;
  height: 1.25rem;
  width: 1.25rem;
}

.icon-l-r, .icon-large-r {
  margin-left: 0.75rem;
  margin-right: -0.25rem;
  height: 1.25rem;
  width: 1.25rem;
}

.icon-xl-l, .icon-extra-large-l {
  margin-left: -0.25rem;
  margin-right: 0.75rem;
  height: 1.25rem;
  width: 1.25rem;
}

.icon-xl-r, .icon-extra-large-r {
  margin-left: 0.75rem;
  margin-right: -0.25rem;
  height: 1.25rem;
  width: 1.25rem;
}

.hex-container {
  display: flex;
  position: relative;
  width: 31px;
  height: 30px;
}

.hex-btn {
  border: none;
  width: 100% !important;
  display: flex;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0px;
  width: 114%;
  height: 102%;
  -webkit-clip-path: polygon(44% 1.6076951546%, 44.5521140031% 1.3079217097%, 45.1191602831% 1.0374545083%, 45.6995846055% 0.797034882%, 46.2917960675% 0.5873218045%, 46.8941714588% 0.4088900845%, 47.5050597102% 0.2622287912%, 48.1227864195% 0.1477399129%, 48.7456584408% 0.0657372556%, 49.3719685251% 0.0164455829%, 50% 0%, 50.6280314749% 0.0164455829%, 51.2543415592% 0.0657372556%, 51.8772135805% 0.1477399129%, 52.4949402898% 0.2622287912%, 53.1058285412% 0.4088900845%, 53.7082039325% 0.5873218045%, 54.3004153945% 0.797034882%, 54.8808397169% 1.0374545083%, 55.4478859969% 1.3079217097%, 56% 1.6076951546%, 88.9089653438% 20.6076951546%, 89.444633764% 20.9359531847%, 89.9623883713% 21.2917960675%, 90.4608100364% 21.6742484625%, 90.9385326201% 22.0822620943%, 91.394246718% 22.5147186258%, 91.8267032495% 22.9704327237%, 92.2347168813% 23.4481553074%, 92.6171692763% 23.9465769725%, 92.9730121592% 24.4643315798%, 93.3012701892% 25%, 93.6010436341% 25.5521140031%, 93.8715108355% 26.1191602831%, 94.1119304618% 26.6995846055%, 94.3216435393% 27.2917960675%, 94.5000752593% 27.8941714588%, 94.6467365526% 28.5050597102%, 94.7612254309% 29.1227864195%, 94.8432280882% 29.7456584408%, 94.8925197609% 30.3719685251%, 94.9089653438% 31%, 94.9089653438% 69%, 94.8925197609% 69.6280314749%, 94.8432280882% 70.2543415592%, 94.7612254309% 70.8772135805%, 94.6467365526% 71.4949402898%, 94.5000752593% 72.1058285412%, 94.3216435393% 72.7082039325%, 94.1119304618% 73.3004153945%, 93.8715108355% 73.8808397169%, 93.6010436341% 74.4478859969%, 93.3012701892% 75%, 92.9730121592% 75.5356684202%, 92.6171692763% 76.0534230275%, 92.2347168813% 76.5518446926%, 91.8267032495% 77.0295672763%, 91.394246718% 77.4852813742%, 90.9385326201% 77.9177379057%, 90.4608100364% 78.3257515375%, 89.9623883713% 78.7082039325%, 89.444633764% 79.0640468153%, 88.9089653438% 79.3923048454%, 56% 98.3923048454%, 55.4478859969% 98.6920782903%, 54.8808397169% 98.9625454917%, 54.3004153945% 99.202965118%, 53.7082039325% 99.4126781955%, 53.1058285412% 99.5911099155%, 52.4949402898% 99.7377712088%, 51.8772135805% 99.8522600871%, 51.2543415592% 99.9342627444%, 50.6280314749% 99.9835544171%, 50% 100%, 49.3719685251% 99.9835544171%, 48.7456584408% 99.9342627444%, 48.1227864195% 99.8522600871%, 47.5050597102% 99.7377712088%, 46.8941714588% 99.5911099155%, 46.2917960675% 99.4126781955%, 45.6995846055% 99.202965118%, 45.1191602831% 98.9625454917%, 44.5521140031% 98.6920782903%, 44% 98.3923048454%, 11.0910346562% 79.3923048454%, 10.5553662361% 79.0640468153%, 10.0376116287% 78.7082039325%, 9.5391899636% 78.3257515375%, 9.0614673799% 77.9177379057%, 8.605753282% 77.4852813742%, 8.1732967505% 77.0295672763%, 7.7652831188% 76.5518446926%, 7.3828307237% 76.0534230275%, 7.0269878409% 75.5356684202%, 6.6987298108% 75%, 6.398956366% 74.4478859969%, 6.1284891646% 73.8808397169%, 5.8880695383% 73.3004153945%, 5.6783564608% 72.7082039325%, 5.4999247409% 72.1058285412%, 5.3532634476% 71.4949402898%, 5.2387745694% 70.8772135805%, 5.1567719123% 70.2543415593%, 5.1074802398% 69.628031475%, 5.0910346571% 69.0000000001%, 5.091034742% 31.0000000137%, 5.1074803253% 30.3719685388%, 5.1567719985% 29.7456584546%, 5.2387746566% 29.1227864334%, 5.353263536% 28.5050597243%, 5.4999248308% 27.8941714731%, 5.6783565529% 27.2917960821%, 5.8880696333% 26.6995846206%, 6.1284892635% 26.1191602988%, 6.3989564703% 25.5521140197%, 6.6987299224% 25.0000000178%, 7.0269879623% 24.4643315993%, 7.3828308583% 23.9465769942%, 7.7652832709% 23.4481553321%, 8.1732969261% 22.9704327525%, 8.6057534886% 22.5147186601%, 9.0614676277% 22.0822621361%, 9.5391902655% 21.6742485142%, 10.0376120016% 21.2917961323%, 10.5553667018% 20.9359532669%, 11.0910352431% 20.6076952598%);
          clip-path: polygon(44% 1.6076951546%, 44.5521140031% 1.3079217097%, 45.1191602831% 1.0374545083%, 45.6995846055% 0.797034882%, 46.2917960675% 0.5873218045%, 46.8941714588% 0.4088900845%, 47.5050597102% 0.2622287912%, 48.1227864195% 0.1477399129%, 48.7456584408% 0.0657372556%, 49.3719685251% 0.0164455829%, 50% 0%, 50.6280314749% 0.0164455829%, 51.2543415592% 0.0657372556%, 51.8772135805% 0.1477399129%, 52.4949402898% 0.2622287912%, 53.1058285412% 0.4088900845%, 53.7082039325% 0.5873218045%, 54.3004153945% 0.797034882%, 54.8808397169% 1.0374545083%, 55.4478859969% 1.3079217097%, 56% 1.6076951546%, 88.9089653438% 20.6076951546%, 89.444633764% 20.9359531847%, 89.9623883713% 21.2917960675%, 90.4608100364% 21.6742484625%, 90.9385326201% 22.0822620943%, 91.394246718% 22.5147186258%, 91.8267032495% 22.9704327237%, 92.2347168813% 23.4481553074%, 92.6171692763% 23.9465769725%, 92.9730121592% 24.4643315798%, 93.3012701892% 25%, 93.6010436341% 25.5521140031%, 93.8715108355% 26.1191602831%, 94.1119304618% 26.6995846055%, 94.3216435393% 27.2917960675%, 94.5000752593% 27.8941714588%, 94.6467365526% 28.5050597102%, 94.7612254309% 29.1227864195%, 94.8432280882% 29.7456584408%, 94.8925197609% 30.3719685251%, 94.9089653438% 31%, 94.9089653438% 69%, 94.8925197609% 69.6280314749%, 94.8432280882% 70.2543415592%, 94.7612254309% 70.8772135805%, 94.6467365526% 71.4949402898%, 94.5000752593% 72.1058285412%, 94.3216435393% 72.7082039325%, 94.1119304618% 73.3004153945%, 93.8715108355% 73.8808397169%, 93.6010436341% 74.4478859969%, 93.3012701892% 75%, 92.9730121592% 75.5356684202%, 92.6171692763% 76.0534230275%, 92.2347168813% 76.5518446926%, 91.8267032495% 77.0295672763%, 91.394246718% 77.4852813742%, 90.9385326201% 77.9177379057%, 90.4608100364% 78.3257515375%, 89.9623883713% 78.7082039325%, 89.444633764% 79.0640468153%, 88.9089653438% 79.3923048454%, 56% 98.3923048454%, 55.4478859969% 98.6920782903%, 54.8808397169% 98.9625454917%, 54.3004153945% 99.202965118%, 53.7082039325% 99.4126781955%, 53.1058285412% 99.5911099155%, 52.4949402898% 99.7377712088%, 51.8772135805% 99.8522600871%, 51.2543415592% 99.9342627444%, 50.6280314749% 99.9835544171%, 50% 100%, 49.3719685251% 99.9835544171%, 48.7456584408% 99.9342627444%, 48.1227864195% 99.8522600871%, 47.5050597102% 99.7377712088%, 46.8941714588% 99.5911099155%, 46.2917960675% 99.4126781955%, 45.6995846055% 99.202965118%, 45.1191602831% 98.9625454917%, 44.5521140031% 98.6920782903%, 44% 98.3923048454%, 11.0910346562% 79.3923048454%, 10.5553662361% 79.0640468153%, 10.0376116287% 78.7082039325%, 9.5391899636% 78.3257515375%, 9.0614673799% 77.9177379057%, 8.605753282% 77.4852813742%, 8.1732967505% 77.0295672763%, 7.7652831188% 76.5518446926%, 7.3828307237% 76.0534230275%, 7.0269878409% 75.5356684202%, 6.6987298108% 75%, 6.398956366% 74.4478859969%, 6.1284891646% 73.8808397169%, 5.8880695383% 73.3004153945%, 5.6783564608% 72.7082039325%, 5.4999247409% 72.1058285412%, 5.3532634476% 71.4949402898%, 5.2387745694% 70.8772135805%, 5.1567719123% 70.2543415593%, 5.1074802398% 69.628031475%, 5.0910346571% 69.0000000001%, 5.091034742% 31.0000000137%, 5.1074803253% 30.3719685388%, 5.1567719985% 29.7456584546%, 5.2387746566% 29.1227864334%, 5.353263536% 28.5050597243%, 5.4999248308% 27.8941714731%, 5.6783565529% 27.2917960821%, 5.8880696333% 26.6995846206%, 6.1284892635% 26.1191602988%, 6.3989564703% 25.5521140197%, 6.6987299224% 25.0000000178%, 7.0269879623% 24.4643315993%, 7.3828308583% 23.9465769942%, 7.7652832709% 23.4481553321%, 8.1732969261% 22.9704327525%, 8.6057534886% 22.5147186601%, 9.0614676277% 22.0822621361%, 9.5391902655% 21.6742485142%, 10.0376120016% 21.2917961323%, 10.5553667018% 20.9359532669%, 11.0910352431% 20.6076952598%);
}

.hex-btn {
  justify-content: center;
  width: 100%;
  align-items: center;
  border-width: 1px;
  border-color: transparent;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.central-icon {
  height: 16px;
  width: 16px;
}