.sub-nav-content {
  max-height: 0;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  padding: 0.5rem;
  background-color: #D0DFE3;
  line-height: 1.5;
}

.opened {
  max-height: 100vh;
}

::slotted(*) {
  display: block !important;
  border-bottom: solid 1px #363154 !important;
}

::slotted(*:last-child) {
  border-bottom: none !important;
}