@import '../../global/variables.scss';
@import '../../global/mixins.scss';

header{
	@include apply-page-padding();
	margin-bottom: $verticleMargin;
	height:$headerHeight;
	display: flex;	
	justify-content: space-between;
}
#app-logo-container{
	display: flex;
	align-items: flex-end;
}
#app-logo{
	display: flex;
	align-items: center;
}
#app-logo-icon{
	width: 2.813rem;//4.5rem;
	height:3.125rem;//5rem;
	min-width: 45px;
}
#app-logo-initials{
	color: $white;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 1.25rem;//2rem;
	text-align: center;
	@include disable-text-highlight();
}
h1{
	margin: 0 0 0 1.125rem;//1.8rem;
	color: $white;
	font-size: 1.5rem;//2.4rem;
	line-height: 1.46;
	font-weight: normal;
}
#app-logo-title{
	@media #{$screenSmall} {
		display: none;
	}
}
#central-contailer{
	display: flex;
	flex:1;
	padding: 0 3.125rem;//5rem;
	align-items: flex-end;
	justify-content: flex-end;
}
#quick-link-icon{
	color: $textDark;
	// text-transform: uppercase;
	// font-weight: 800;
	font-size: 1.25rem;//2rem;
	text-align: center;
	@include disable-text-highlight();
}
#client-logo-container{
	// width:168px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-self: flex-end;
	padding: 0 0.5rem;//0.8rem;
	justify-content: center;
	border-radius: 0 0 5px 5px;
	box-shadow: $shadow;
	background-color: $white;
}
#client-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 112px;
	height: 59px;
	img{
		width:100%;
    height:100%;
    object-fit: contain;
    overflow: hidden;
	}
}

#account-navigation-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 59px;
	@media #{$screenSmall} {
		display: none;
	}
	tf-hexagon-button{
		width: 27px;
		height: 30px;
	}
}