@import '../../global/variables.scss';
@import '../../global/mixins.scss';

:host{

}
section{
	padding: 0.9375rem $pageSidePadding; //1.5rem $pageSidePadding;
	margin-bottom: $verticleMargin;
	
	border-radius: $radiusLarge;
	box-shadow: $shadow;
}
section.default, section.grey{
	@apply bg-grey-600;
}

section.navy{
	@apply bg-navy-600;
}