.dd-link {
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  color: #363154;
  background-color: #D0DFE3;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.dd-link:hover {
  background-color: #B1BDC1;
}

.dd-link:focus {
  outline: 0;
  background-color: #B1BDC1;
}

.dd-link-blue {
  color: #ffffff;
  background-color: #224595;
}

.dd-link-blue:hover {
  background-color: #4260A4;
}

.dd-link-blue:focus {
  outline: 0;
  background-color: #1E3D85;
}

.dd-link-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.25rem;
}

.dd-link-icon {
  display: flex;
  align-items: center;
}