@import '../../global/variables.scss';
@import '../../global/mixins.scss';

#node-container{
	margin-bottom: 0.3125rem;//0.5rem;
	background-color: $white;
	border-radius: $radiusSmall;
	box-shadow: $shadow;
	padding: 0.25rem;//0.4rem;
	display: flex;
	align-items: center;
	flex:1;
}
// ::slotted(*){
// 	display: flex;
// 	flex:1;
// }