@import '../../global/variables.scss';
@import '../../global/mixins.scss';
@import '../../global/hexagon.scss';

:host{
	display: flex;
	position: relative;
}

::slotted(*){
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

button{
	border:none;
	@include draw-hex();
	&.white{
		background: $white;
		@include button-effect($white);
	}
	&.primary{
		background: $primary;
		@include button-effect($primary);
	}
	&.accent{
		background: $accent;
		@include button-effect($accent);
	}
	&.grey{
		background: $grey;
		@include button-effect($grey);
	}
	&.dark{
		background: $dark;
		@include button-effect($dark);
	}
	&.white-dark{
		background: $white;
		@include button-effect($dark);
	}
	&.gradient{
		background: $primary;
		background-image: linear-gradient(to right, $blueGradient);
		@include button-gradient-effect();
	}
}
