
.form-label{
	@apply block text-sm font-medium leading-5 text-gray-700;
}
.form-label-sr-only{
	@apply sr-only;
}
input[type=text],
input[type=password],
input {
    box-sizing : border-box;
}
*, :after, :before {
	box-sizing: border-box;
	border: 0 solid #d2d6dc;
}

.label-input-container{
	@apply mb-4;
}
.input-container{
	@apply mt-1 relative rounded-md shadow-sm;
}


.form-input {
	@apply appearance-none bg-white border-grey-600 border rounded-md py-2 px-3 text-base leading-normal;
}

// The Placeholder STANDARD grey
.form-input::-webkit-input-placeholder,
.form-input::-moz-placeholder,
.form-input:-ms-input-placeholder,
.form-input::-ms-input-placeholder,
.form-input::placeholder {
	@apply text-grey-500 opacity-100;
}

// The placeholder ERROR red
.form-input.form-input-error::-webkit-input-placeholder,
.form-input.form-input-error::-moz-placeholder,
.form-input.form-input-error:-ms-input-placeholder,
.form-input.form-input-error::-ms-input-placeholder,
.form-input.form-input-error::placeholder {
	@apply text-red-300 opacity-100;
}

.form-input:focus {
	@apply outline-none border-blue-300 shadow-outline-blue;
}

.form-input-styled{
	@apply block w-full;
}
.form-input-error{
	@apply text-red-900 border-red-300;
}
.form-input-error:focus{
	@apply border-red-300 shadow-outline-red;
}
.form-input-leading-icon{
	@apply pl-10;
}
.form-input-trailing-icon{
	@apply pr-10;
}
//
.hint{
	@apply mt-2 text-sm text-grey-600;
}
.error{
	@apply mt-2 text-sm text-red-600;
}
.svg-container{
	@apply absolute flex items-center pointer-events-none;
}
.svg-leading{
	@apply inset-y-0 left-0 pl-3;
}
.svg-trailing{
	@apply inset-y-0 right-0 pr-3;
}
.svg-icon{
	@apply h-5 w-5 text-gray-400;
}
.svg-error-icon{
	@apply h-5 w-5 text-red-400;
}
@screen sm {
  .form-input-styled{
		@apply text-sm leading-5;
	}
}