.form-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #374151;
}

.form-label-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

input[type=text],
input[type=password],
input {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #d2d6dc;
}

.label-input-container {
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  margin-top: 0.25rem;
  position: relative;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.form-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ffffff;
  border-color: #D0DFE3;
  border-width: 1px;
  border-radius: 0.375rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input::-webkit-input-placeholder {
  color: #D7E3E7;
  opacity: 1;
}

.form-input::-webkit-input-placeholder,
.form-input::-moz-placeholder,
.form-input:-ms-input-placeholder,
.form-input::-ms-input-placeholder,
.form-input::placeholder {
  color: #D7E3E7;
  opacity: 1;
}

.form-input.form-input-error::-webkit-input-placeholder {
  color: #f8b4b4;
  opacity: 1;
}

.form-input.form-input-error::-webkit-input-placeholder,
.form-input.form-input-error::-moz-placeholder,
.form-input.form-input-error:-ms-input-placeholder,
.form-input.form-input-error::-ms-input-placeholder,
.form-input.form-input-error::placeholder {
  color: #f8b4b4;
  opacity: 1;
}

.form-input:focus {
  outline: 0;
  border-color: #8598C4;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
}

.form-input-styled {
  display: block;
  width: 100%;
}

.form-input-error {
  color: #771d1d;
  border-color: #f8b4b4;
}

.form-input-error:focus {
  border-color: #f8b4b4;
  box-shadow: 0 0 0 3px rgba(248, 180, 180, 0.45);
}

.form-input-leading-icon {
  padding-left: 2.5rem;
}

.form-input-trailing-icon {
  padding-right: 2.5rem;
}

.hint {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #D0DFE3;
}

.error {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #e02424;
}

.svg-container {
  position: absolute;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.svg-leading {
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 0.75rem;
}

.svg-trailing {
  top: 0;
  bottom: 0;
  right: 0;
  padding-right: 0.75rem;
}

.svg-icon {
  height: 1.25rem;
  width: 1.25rem;
  color: #9fa6b2;
}

.svg-error-icon {
  height: 1.25rem;
  width: 1.25rem;
  color: #f98080;
}

@media (min-width: 640px) {
  .form-input-styled {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}