*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #d2d6dc;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

.form-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #374151;
}

.form-label-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.bottom-text {
  margin-left: 0;
  margin-top: 2px;
  font-size: 0.875rem;
}

.bottom-text.hide {
  visibility: hidden;
}

.bottom-text.error {
  color: #e02424;
}

.bottom-text.hint {
  color: #D0DFE3;
}

.description-text {
  margin-top: 2px;
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.description-text.desc {
  color: #6b7280;
}